<div class="container my-5">
  <div class="card shadow rounded-4">
    <div class="card-body p-4">
      <h2 class="mb-4 fw-bold text-center">Tabela de Produtos</h2>

      <div class="input-group mb-4 shadow-sm">
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-search text-secondary"></i>
        </span>
        <input
          type="text"
          [(ngModel)]="nomePesquisa"
          id="nomePesquisa"
          class="form-control form-control-lg border-start-0"
          placeholder="Digite para pesquisar..."
          aria-label="Pesquisar transações"
        >
        <button type="submit" class="btn btn-success btn-lg px-4 w-md-auto" routerLink="/form-produto/"><i class="bi bi-check-circle me-2"></i>Inserir</button>
      </div>

      <div *ngIf="(listaProdutos | buscador:nomePesquisa:['nome']).length === 0" class="alert alert-light text-center shadow-sm rounded p-4">
        <i class="bi bi-exclamation-circle fs-3 text-secondary d-block mb-2"></i>
        <span class="fs-5 text-muted">Nenhum produto encontrado</span>
      </div>

      <div class="table-responsive" *ngIf="(listaProdutos | buscador:nomePesquisa:['nome']).length > 0">
        <table class="table table-hover align-middle mb-0">
          <thead class="table-light text-center">
            <tr>
              <th scope="col" class="text-center">NOME</th>
              <th scope="col" class="text-center">VALOR</th>
              <th scope="col" class="text-center">CATEGORIA</th>
              <th scope="col" class="text-center">AÇÃO</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let produto of (listaProdutos | buscador:nomePesquisa:['nome']); let i = index">
              <!-- Linha do produto -->
              <tr class="text-center" (click)="toggleExpand(i, produto)" style="cursor: pointer;">
                <td class="text-center">{{ produto.nome }}</td>
                <td *ngIf="produto.variacoes.length === 0">{{ produto.valor | moeda }}</td>
                <td *ngIf="produto.variacoes.length > 0">A partir de {{produto.variacoes[0].valor | moeda}}</td>
                <td>{{ produto.cat }}</td>
                <td class="text-center">
                  <a class="btn btn-sm btn-outline-primary"
                    routerLink="/form-produto/{{ produto.id }}">
                    <i class="bi bi-pencil-fill"></i> Editar
                  </a>
                  <button class="btn btn-sm btn-outline-danger"
                          (click)="deletar(produto.id); $event.stopPropagation()"
                          type="button">
                    <i class="bi bi-trash-fill"></i> Deletar
                  </button>
                </td>
              </tr>

              <!-- Linha expansível para variações -->
              <tr *ngIf="expandedRow === i" class="bg-light">
                <td colspan="4">
                    <div *ngIf="produto.variacoes.length > 0; else semVariacoes">
                      <ul class="list-group list-group-flush">
                        <li *ngFor="let variacao of produto.variacoes" class="list-group-item d-flex justify-content-between align-items-center">
                          <span>{{ variacao.variacao }}</span>
                          
                          <span class="fw-bold">{{ variacao.valor | moeda }}</span>
                        </li>
                      </ul>
                    </div>
                    <ng-template #semVariacoes>
                      <div class="text-muted fst-italic">Nenhuma variação cadastrada</div>
                    </ng-template>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
