<!-- Produtos disponíveis -->
<div class="container my-5">
  <div class="card shadow rounded-4">
    <div class="card-body p-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold mb-0">Produtos</h2>
        <button class="btn btn-sm btn-outline-primary d-flex align-items-center gap-1" (click)="paginaOrcamentos()">
          <i class="bi bi-tags-fill"></i> Orçamentos
        </button>
      </div>


      <div class="input-group mb-4 shadow-sm">
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-search text-secondary"></i>
        </span>
        <input
          type="text"
          [(ngModel)]="nomePesquisa"
          id="nomePesquisa"
          class="form-control form-control-lg border-start-0"
          placeholder="Digite para pesquisar..."
        >
      </div>

      <div *ngIf="(listaProdutos | buscador:nomePesquisa:['nome']).length === 0" class="alert alert-light text-center shadow-sm rounded p-4">
        <i class="bi bi-exclamation-circle fs-3 text-secondary d-block mb-2"></i>
        <span class="fs-5 text-muted">Nenhum produto encontrado</span>
      </div>

      <div class="table-responsive" *ngIf="(listaProdutos | buscador:nomePesquisa:['nome']).length > 0">
        <table class="table table-hover align-middle mb-0">
          <thead class="table-light text-center">
            <tr>
              <th class="text-center">NOME</th>
              <th class="text-center">VALOR</th>
              <th class="text-center">AÇÃO</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let produto of (listaProdutos | buscador:nomePesquisa:['nome']); let i = index">
              <!-- Linha do produto -->
              <tr class="text-center" (click)="toggleExpand(i)" style="cursor: pointer;">
                <td class="text-center">{{ produto.nome }}</td>
                <td *ngIf="produto.variacoes.length === 0">{{ produto.valor | moeda }}</td>
                <td *ngIf="produto.variacoes.length > 0">A partir de {{produto.variacoes[0].valor | moeda}}</td>
                <td class="text-center">
                  <button
                  class="btn btn-sm btn-outline-primary"
                  (click)="adicionarProduto(produto.id); $event.stopPropagation()" *ngIf="produto.variacoes.length === 0">
                  <i class="bi bi-cart-check"></i> Adicionar
                  </button>
                  <button
                  class="btn btn-sm btn-outline-success"
                  *ngIf="produto.variacoes.length > 0 && expandedRow != i">
                    <i class="bi bi-arrows-angle-expand"></i>
                  </button>
                  <button
                  class="btn btn-sm btn-success"
                  *ngIf="produto.variacoes.length > 0 && expandedRow === i">
                    <i class="bi bi-arrows-angle-contract"></i>
                  </button>
                  
                </td>
              </tr>

              <!-- Linha expansível para variações -->
              <tr *ngIf="expandedRow === i" class="bg-light">
                <td colspan="4">
                    <div *ngIf="produto.variacoes.length > 0; else semVariacoes">
                      <ul class="list-group list-group-flush">
                        <li *ngFor="let variacao of produto.variacoes" class="list-group-item d-flex justify-content-between align-items-center">
                          <span>{{ variacao.variacao }}</span>
                          <span class="fw-bold">{{ variacao.valor | moeda }}</span>
                          <button
                            class="btn btn-sm btn-outline-primary"
                            (click)="adicionarProduto(produto.id, variacao); $event.stopPropagation()">
                            <i class="bi bi-cart-check"></i> Adicionar
                          </button>
                        </li>
                      </ul>
                    </div>
                    <ng-template #semVariacoes>
                      <div class="text-muted fst-italic">Nenhuma variação cadastrada</div>
                    </ng-template>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Seleção de Cliente -->
<div class="modal fade" id="modalClientes" tabindex="-1" aria-labelledby="modalClientesLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header">
        <h5 class="modal-title fw-bold text-primary" id="modalClientesLabel">
          <i class="bi bi-person-lines-fill me-2"></i> Selecionar Cliente
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body">
        <div class="input-group mb-3 shadow-sm">
          <span class="input-group-text bg-white border-end-0">
            <i class="bi bi-search text-secondary"></i>
          </span>
          <input
            type="text"
            [(ngModel)]="clientePesquisa"
            class="form-control border-start-0"
            placeholder="Buscar cliente por nome...">
        </div>

        <div *ngIf="(listaClientes | buscador:clientePesquisa:['nome']).length === 0" class="text-center text-muted">
          <i class="bi bi-person-x fs-4"></i>
          <p class="mt-2">Nenhum cliente encontrado</p>
        </div>

        <ul class="list-group" *ngIf="(listaClientes | buscador:clientePesquisa:['nome']).length > 0">
          <li
          *ngFor="let cliente of (listaClientes | buscador:clientePesquisa:['nome'])"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          style="cursor: pointer;" (click)="adicionarCliente(cliente)">
          
              <span>{{ cliente.nome }}</span>
              <i class="bi bi-check-circle-fill text-success" *ngIf="clienteSelecionado?.id === cliente.id"></i>
              <i class="bi bi-check-circle text-success" *ngIf="clienteSelecionado?.id != cliente.id"></i>
            </li>
        </ul>
      </div>

      <div class="modal-footer">
        
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" [disabled]="!clienteSelecionado" data-bs-dismiss="modal">
          Confirmar Cliente
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Footer Carrinho / Orçamento -->
<div class="fixed-bottom bg-white border-top shadow-lg carrinho">
  <div class="container py-2">
    <div class="d-flex justify-content-between align-items-center" (click)="mostrarDetalhes = !mostrarDetalhes" style="cursor: pointer;">
      <div>
        <i class="bi bi-cart3 me-2"></i>
        <strong>{{ totalProdutosCarrinho }} produto(s)</strong>
      </div>
      <div class="fw-semibold text-primary">
        Total: {{ total | currency:'BRL' }}
        <i class="bi" [ngClass]="mostrarDetalhes ? 'bi-chevron-down' : 'bi-chevron-up'"></i>
      </div>
    </div>

    <!-- Detalhes do Carrinho -->
    <div *ngIf="mostrarDetalhes" class="mt-3 border-top pt-3">
      <div *ngFor="let produto of produtosOrcamento" class="d-flex justify-content-between align-items-center mb-3 px-1">
        <button
          class="btn btn-sm btn-outline-danger d-flex align-items-center"
          (click)="removerProduto(produto.id)"
          title="Remover produto">
          <i class="bi bi-trash"></i>
        </button>
        <div class="flex-grow-1 px-3">
          <div class="fw-semibold">{{ produto.nome }}</div>
          <div class="text-muted small">{{ produto.quantidade }} x {{ produto.valor | currency:'BRL' }}</div>
        </div>
        <div class="fw-medium text-end text-success">
          {{ produto.quantidade * produto.valor | currency:'BRL' }}
        </div>
      </div>

      <!-- Resumo financeiro -->
      <div class="mt-4 border-top pt-3">
        <!-- Frete -->
        <div class="mb-2 d-flex justify-content-between align-items-center w-100">
          <label class="fw-semibold mb-1 me-2" for="frete">Frete:</label>
          <div class="input-group input-group-sm" style="max-width: 160px;">
            <span class="input-group-text">R$</span>
            <input
              type="text"
              class="form-control text-end"
              id="frete"
              [value]="freteFormatado"
              (input)="mascaraValor($event, 'frete')"
              placeholder="0,00"
            />
          </div>
        </div>

        <!-- Desconto -->
        <div class="mb-2 d-flex justify-content-between align-items-center w-100">
          <label class="fw-semibold mb-1 me-2" for="desconto">Desconto:</label>
          <div class="input-group input-group-sm" style="max-width: 160px;">
            <span class="input-group-text">R$</span>
            <input
              type="text"
              class="form-control text-end"
              id="desconto"
              [value]="descontoFormatado"
              (input)="mascaraValor($event, 'desconto')"
              placeholder="0,00"
            />
          </div>
        </div>

        <div class="d-flex justify-content-between mb-2">
          <span class="fw-semibold">Valor total:</span>
          <span class="fw-bold text-primary">{{ total | currency:'BRL' }}</span>
        </div>

        <div class="d-flex align-items-start justify-content-between mb-3">
          <span class="fw-semibold">Parcelado (5x sem juros):</span>
          <div class="flex-grow-1 px-3 text-end" style="margin-right: -16px;">
            <div class="fw-semibold text-success">
              {{ totalParcelamento | currency:'BRL' }}
            </div>
            <div class="text-muted small">
              {{ (totalParcelamento / 5) | currency:'BRL' }} x 5
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mb-2" *ngIf="clienteSelecionado.nome">
          <span class="fw-semibold">Cliente:</span>
          <span class="fw-bold text-primary">{{ clienteSelecionado.nome}}</span>
        </div>
        <!-- Botões -->
        <div class="d-flex gap-2 justify-content-end">
          <button class="btn btn-outline-danger" (click)="limparCarrinho()">
            <i class="bi bi-trash"></i> Limpar Carrinho
          </button>
          <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalClientes" *ngIf="listaClientes.length > 0">
            <i class="bi bi-person-plus me-1"></i> Adicionar Cliente
          </button>
          <button type="button" class="btn btn-outline-warning" (click)="carregarClientes()" *ngIf="listaClientes.length === 0">
            <i class="bi bi-person-plus me-1"></i> Carregar Clientes
          </button>
          <button class="btn btn-primary" (click)="finalizarOrcamento()">
            <i class="bi bi-send-check me-1"></i> Finalizar Orçamento
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
