<div class="container my-5">
  <div class="card shadow rounded-4">
    <div class="card-body p-4">
      <h2 class="mb-4 fw-bold text-primary text-center">Tabela de Produtos</h2>

      <div class="mb-4">
        <label for="nomePesquisa" class="form-label">Pesquisa:</label>
        <input type="text" [(ngModel)]="nomePesquisa" id="nomePesquisa" class="form-control form-control-lg" placeholder="Digite nome para pesquisar...">
      </div>

      <h5 class="text-danger text-center" *ngIf="(lista | buscador:nomePesquisa).length == 0">
        Não há produtos cadastrados!
      </h5>

      <div class="table-responsive" *ngIf="(lista | buscador:nomePesquisa).length > 0">
        <table class="table table-hover align-middle">
          <thead class="table-light text-center">
            <tr>
              <th>ID</th>
              <th>DESCRIÇÃO</th>
              <th>VALOR</th>
              <th>TIPO</th>
              <th>DATA</th>
              <th class="text-center">AÇÃO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transacao of (lista | buscador:nomePesquisa)" class="text-center">
              <td>{{ transacao.id }}</td>
              <td>{{ transacao.descricao }}</td>
              <td>{{ transacao.valor | moeda }}</td>
              <td>
                <span class="badge" [ngClass]="{
                  'bg-success': transacao.tipo === 'Entrada',
                  'bg-danger': transacao.tipo === 'Saida'
                }">
                  {{ transacao.tipo }}
                </span>
              </td>
              <td>{{ transacao.data | date: 'dd/MM/yyyy' }}</td>
              <td class="text-center">
                <a class="btn btn-sm btn-outline-primary me-2" routerLink="/edit/{{ transacao.id }}">
                  <i class="bi bi-pencil-fill"></i> Editar
                </a>
                <a class="btn btn-sm btn-outline-danger" (click)="deletar(transacao.id)">
                  <i class="bi bi-trash-fill"></i> Deletar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
