/* You can add global styles to this file, and also import other style files */
html,
body {
  touch-action: manipulation; /* evita zoom em double tap */
  -webkit-user-select: none; /* evita seleção acidental */
  user-select: none; /* compatibilidade padrão */
  -webkit-tap-highlight-color: transparent; /* remove highlight no toque */
}

.container {
  min-width: 95vw;
}
